* {
    box-sizing: border-box;
    overflow: hidden;
}

/* header */
header {
    width: 1024px;
    height: 65px;
    background-color: rgb(212, 117, 238);
    margin: auto;
}

/* container */
.container {
    display: flex;
    width: 1024px;
    /* - 65px ok */
    /* -65 ng */
    height: calc(768px - 65px - 20px);
    background-color: rgb(180, 76, 172);
    margin: auto;
}

/* container-left */
aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    background-color: rgb(116, 17, 209);

    display: flex;
    flex-direction: column;
}

.aside-header {
    width: 100%;
    /* flex-basis: 100px; */
    /* height: calc(100% - 25px); */
    /* flex-direction 主軸長度 item method */
    flex-basis: calc(100% - 25px);
    background-color: rgb(195, 141, 231);
}

.aside-footer {
    width: 100%;
    flex-basis: 25px;
    background-color: rgba(221, 225, 226, 0.726);


}


/* container-right */
main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    background-color: rgb(255, 255, 255);
}

.main-header {
    width: 100%;
    height: 29px;
    background-color: rgb(209, 180, 180);
}

.main-footer {
    width: 100%;
    height: calc(100% - 29px);
    background-color: rgb(192, 119, 119);
}

/* footer */
footer {
    width: 1024px;
    height: 20px;
    background-color: rgb(116, 107, 107);
    margin: auto;
}